/Models/*
/.gradle/
/.settings/
/bin/
/log/
*svn-base*
*.txt
/res/
/target_2/
*.class
/build/
.project
.classpath
/backup/
/.svn/
/lib/
/src/main/java/TEST/
/ag_news_csv/
/src/main/environment/*
/TestDataset/
/Results/*
/TestDataset_TFIDF_WEB/*
/Train_TFIDF_WEBoriginal_Partition/*
/TrainTFID_AG_fromOriginalDataset/*
/TrainDataset*/*
/Results*/*
